.main {
	padding: 30px 0;
}

@media (min-width: 768px) {
	.main {
		padding: 50px 0;
	}
}

.heading {
	margin-top: 30px;
	margin-bottom: 20px;
}

.text {
	margin-top: 20px;
	margin-bottom: 20px;
}

.warning {
	margin-top: 100px;
	margin-bottom: 50px;
	color: #c06b42;
}